*
!.gitignore
!groovy_variables.sh
!.vimrc
!.vimrc_with_plugins
!.bashrc
!.bash_profile
!.tmux.conf
!.Xresources.*
!urxvt-with-tmux-vim-1100x601.png
!groovy_banner.sh
!groovy_functions.sh
!.emacs
# gVim right and bottom border background color fix
!.config/gtk-3.0/gtk.css
# completion files
!completions/*
